main{
  width: 100%;
  background-color: black;
  color: white;
  .boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    .card{
      width: 150px;
      height: 150px;
      margin: 5px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .desc{
      width: 150px;
      font-weight: bolder;
      text-transform: uppercase;
      margin-left: 5px;
    }
  }
  .container.text{ 
    position: relative;
    .current-series{
      position: absolute;
      top: -25px;
      left: 0;
      width: 200px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bolder;
      background-color: blue;
    }
  }
}