@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Cairo', sans-serif;
  background-color: blue; //da togliere
}

.container{
  width: 80%;
  min-width: 1070px;
  margin: 0 auto; 
}

.flex-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}